-- CreateSchema
CREATE SCHEMA IF NOT EXISTS "public";

-- CreateEnum
CREATE TYPE "Role" AS ENUM ('employe', 'admin', 'super_admin');

-- CreateEnum
CREATE TYPE "Statut" AS ENUM ('actif', 'inactif');

-- CreateEnum
CREATE TYPE "PointageType" AS ENUM ('arrivee', 'depart', 'absence', 'pause_debut', 'pause_fin');

-- CreateEnum
CREATE TYPE "DemandeType" AS ENUM ('conge', 'retard', 'absence', 'badge');

-- CreateEnum
CREATE TYPE "DemandeStatut" AS ENUM ('en_attente', 'approuve', 'rejete');

-- CreateEnum
CREATE TYPE "EvenementType" AS ENUM ('reunion', 'formation', 'autre');

-- CreateEnum
CREATE TYPE "JustificatifType" AS ENUM ('retard', 'absence');

-- CreateEnum
CREATE TYPE "JustificatifEtat" AS ENUM ('en_attente', 'approuve', 'rejete');

-- CreateEnum
CREATE TYPE "BadgeStatus" AS ENUM ('active', 'revoked', 'expired');

-- CreateEnum
CREATE TYPE "ScanType" AS ENUM ('arrival', 'departure', 'access');

-- CreateEnum
CREATE TYPE "PauseType" AS ENUM ('dejeuner', 'course', 'fatigue', 'malaise', 'commission', 'autre');

-- CreateEnum
CREATE TYPE "RetardStatut" AS ENUM ('en_attente', 'approuve', 'refuse', 'ignore');

-- CreateTable
CREATE TABLE "admins" (
    "id" SERIAL NOT NULL,
    "nom" VARCHAR(50) NOT NULL,
    "prenom" VARCHAR(50) NOT NULL,
    "adresse" VARCHAR(25) DEFAULT 'Adresse non renseign├®e',
    "email" VARCHAR(100) NOT NULL,
    "telephone" VARCHAR(20),
    "password" VARCHAR(255) NOT NULL,
    "role" "Role" NOT NULL DEFAULT 'admin',
    "last_activity" TIMESTAMP(3),
    "date_creation" TIMESTAMP(3) DEFAULT CURRENT_TIMESTAMP,
    "poste" VARCHAR(20),
    "departement" VARCHAR(20),
    "created_by" INTEGER,
    "statut" "Statut" NOT NULL DEFAULT 'actif',
    "badge_id" VARCHAR(50),
    "badge_token" VARCHAR(64),
    "badge_actif" BOOLEAN NOT NULL DEFAULT false,
    "badge_created" TIMESTAMP(3),
    "badge_expires" TIMESTAMP(3),
    "badge_class" VARCHAR(20) NOT NULL DEFAULT 'admin',
    "created_at" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,

    CONSTRAINT "admins_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "employes" (
    "id" SERIAL NOT NULL,
    "nom" VARCHAR(20) NOT NULL,
    "prenom" VARCHAR(20) NOT NULL,
    "email" VARCHAR(100) NOT NULL,
    "email_pro" VARCHAR(100),
    "password" VARCHAR(255) NOT NULL,
    "role" "Role" NOT NULL DEFAULT 'employe',
    "statut" "Statut" NOT NULL DEFAULT 'actif',
    "date_embauche" DATE,
    "anciennete" VARCHAR(20),
    "poste" VARCHAR(50),
    "salaire" DECIMAL(10,2),
    "telephone" VARCHAR(20),
    "photo" VARCHAR(255),
    "infos_sup" TEXT,
    "date_creation" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "badge_id" VARCHAR(50),
    "badge_actif" BOOLEAN NOT NULL DEFAULT true,
    "qr_code" VARCHAR(50),
    "qr_code_data" TEXT,
    "contrat_type" VARCHAR(50),
    "contrat_duree" VARCHAR(50),
    "badge_token" VARCHAR(64),
    "matricule" VARCHAR(20),
    "rapport_quotidiens" BOOLEAN NOT NULL DEFAULT false,
    "adresse" VARCHAR(255),
    "departement" VARCHAR(100),
    "created_by" INTEGER,

    CONSTRAINT "employes_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "pointages" (
    "id" SERIAL NOT NULL,
    "date_pointage" TIMESTAMP(3),
    "date_heure" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "employe_id" INTEGER,
    "is_read" BOOLEAN NOT NULL DEFAULT false,
    "temps_total" TIME(6),
    "type" "PointageType" NOT NULL,
    "est_justifie" BOOLEAN NOT NULL DEFAULT false,
    "commentaire" TEXT,
    "badge_token_id" INTEGER,
    "ip_address" VARCHAR(45),
    "device_info" TEXT,
    "latitude" DECIMAL(10,8),
    "longitude" DECIMAL(11,8),
    "qr_code_id" INTEGER,
    "etat" VARCHAR(20) DEFAULT 'normal',
    "justification_id" INTEGER,
    "statut" VARCHAR(50) DEFAULT 'pr├®sent',
    "created_at" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "retard_minutes" INTEGER NOT NULL DEFAULT 0,
    "admin_id" INTEGER,
    "pause_debut" TIMESTAMP(3),
    "pause_fin" TIMESTAMP(3),

    CONSTRAINT "pointages_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "demandes" (
    "id" SERIAL NOT NULL,
    "employe_id" INTEGER NOT NULL,
    "type" "DemandeType" NOT NULL,
    "raison" TEXT,
    "statut" "DemandeStatut" NOT NULL DEFAULT 'en_attente',
    "date_demande" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "date_traitement" TIMESTAMP(3),
    "commentaire" TEXT,
    "traite_par" INTEGER,

    CONSTRAINT "demandes_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "notifications" (
    "id" SERIAL NOT NULL,
    "employe_id" INTEGER NOT NULL,
    "titre" VARCHAR(255) NOT NULL,
    "contenu" TEXT,
    "message" TEXT,
    "type" VARCHAR(50),
    "lien" VARCHAR(255),
    "lue" BOOLEAN NOT NULL DEFAULT false,
    "date_creation" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "date" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "pointage_id" INTEGER,
    "date_lecture" TIMESTAMP(3),

    CONSTRAINT "notifications_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "badge_journalier" (
    "id" SERIAL NOT NULL,
    "employe_id" INTEGER NOT NULL,
    "code" VARCHAR(64) NOT NULL,
    "date_validite" DATE NOT NULL,
    "utilise_arrivee" BOOLEAN NOT NULL DEFAULT false,
    "utilise_depart" BOOLEAN NOT NULL DEFAULT false,

    CONSTRAINT "badge_journalier_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "evenements" (
    "id" SERIAL NOT NULL,
    "titre" VARCHAR(255) NOT NULL,
    "description" TEXT,
    "start_date" TIMESTAMP(3) NOT NULL,
    "end_date" TIMESTAMP(3) NOT NULL,
    "type" "EvenementType" NOT NULL DEFAULT 'autre',
    "employe_id" INTEGER,

    CONSTRAINT "evenements_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "late_reasons" (
    "id" SERIAL NOT NULL,
    "employe_id" VARCHAR(20) NOT NULL,
    "scan_time" TIMESTAMP(3) NOT NULL,
    "late_time" INTEGER NOT NULL,
    "reason" VARCHAR(255) NOT NULL,
    "comment" TEXT,
    "created_at" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,

    CONSTRAINT "late_reasons_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "absences" (
    "id" SERIAL NOT NULL,
    "employe_id" INTEGER,
    "date_absence" DATE,
    "motif" TEXT,
    "statut" VARCHAR(20) NOT NULL DEFAULT 'non autoris├®',

    CONSTRAINT "absences_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "admin_logs" (
    "id" SERIAL NOT NULL,
    "admin_id" INTEGER NOT NULL,
    "action" VARCHAR(50) NOT NULL,
    "details" TEXT,
    "created_at" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,

    CONSTRAINT "admin_logs_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "badge_logs" (
    "id" SERIAL NOT NULL,
    "employe_id" INTEGER NOT NULL,
    "action" VARCHAR(50) NOT NULL,
    "details" TEXT,
    "ip_address" VARCHAR(45),
    "created_at" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,

    CONSTRAINT "badge_logs_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "badge_scans" (
    "id" SERIAL NOT NULL,
    "token_id" INTEGER,
    "token_hash" VARCHAR(128) NOT NULL,
    "scan_time" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "ip_address" VARCHAR(45) NOT NULL,
    "device_info" TEXT,
    "is_valid" BOOLEAN NOT NULL,
    "validation_details" JSONB,
    "latitude" DECIMAL(10,8),
    "longitude" DECIMAL(11,8),
    "scan_type" "ScanType" NOT NULL,

    CONSTRAINT "badge_scans_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "badge_tokens" (
    "id" SERIAL NOT NULL,
    "employe_id" INTEGER,
    "token" VARCHAR(255),
    "token_hash" VARCHAR(128) NOT NULL,
    "created_at" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "expires_at" TIMESTAMP(3) NOT NULL,
    "ip_address" VARCHAR(45) NOT NULL,
    "user_agent" VARCHAR(255),
    "device_info" TEXT,
    "status" "BadgeStatus" NOT NULL DEFAULT 'active',
    "type" VARCHAR(50),
    "revoked_at" TIMESTAMP(3),
    "created_by" VARCHAR(50) DEFAULT 'system',
    "last_used_at" TIMESTAMP(3),
    "usage_count" INTEGER NOT NULL DEFAULT 0,
    "admin_id" INTEGER,

    CONSTRAINT "badge_tokens_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "conges" (
    "id" SERIAL NOT NULL,
    "employe_id" INTEGER NOT NULL,
    "jours_total" INTEGER NOT NULL DEFAULT 25,
    "jours_utilises" INTEGER NOT NULL DEFAULT 0,
    "jours_restants" INTEGER NOT NULL DEFAULT 25,
    "annee" INTEGER NOT NULL,

    CONSTRAINT "conges_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "demandes_badge" (
    "id" SERIAL NOT NULL,
    "employe_id" INTEGER NOT NULL,
    "raison" TEXT NOT NULL,
    "date_demande" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "statut" "DemandeStatut" NOT NULL DEFAULT 'en_attente',
    "date_traitement" TIMESTAMP(3),
    "admin_id" INTEGER,
    "raison_rejet" TEXT,
    "is_read" BOOLEAN NOT NULL DEFAULT false,
    "traite_par" INTEGER,

    CONSTRAINT "demandes_badge_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "justificatifs" (
    "id" SERIAL NOT NULL,
    "id_pointage" INTEGER,
    "employe_id" INTEGER NOT NULL,
    "type_justif" "JustificatifType",
    "description" TEXT,
    "fichier" VARCHAR(255),
    "date_ajout" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "etat" "JustificatifEtat" NOT NULL DEFAULT 'en_attente',

    CONSTRAINT "justificatifs_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "messages" (
    "id" SERIAL NOT NULL,
    "expediteur_id" INTEGER NOT NULL,
    "sujet" VARCHAR(100) NOT NULL,
    "contenu" TEXT NOT NULL,
    "date_envoi" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,

    CONSTRAINT "messages_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "message_destinataires" (
    "message_id" INTEGER NOT NULL,
    "destinataire_id" INTEGER NOT NULL,
    "lu" BOOLEAN NOT NULL DEFAULT false,
    "date_lecture" TIMESTAMP(3),

    CONSTRAINT "message_destinataires_pkey" PRIMARY KEY ("message_id","destinataire_id")
);

-- CreateTable
CREATE TABLE "parametres_utilisateur" (
    "id" SERIAL NOT NULL,
    "user_id" INTEGER NOT NULL,
    "user_type" VARCHAR(32) NOT NULL DEFAULT 'admin',
    "cle" VARCHAR(255) NOT NULL,
    "valeur" TEXT,
    "created_at" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updated_at" TIMESTAMP(3) NOT NULL,
    "employe_id" INTEGER,

    CONSTRAINT "parametres_utilisateur_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "password_resets" (
    "id" SERIAL NOT NULL,
    "email" VARCHAR(255) NOT NULL,
    "token" VARCHAR(255) NOT NULL,
    "expires_at" TIMESTAMP(3) NOT NULL,
    "created_at" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "employe_id" INTEGER,

    CONSTRAINT "password_resets_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "pauses" (
    "id" SERIAL NOT NULL,
    "employe_id" INTEGER NOT NULL,
    "admin_id" INTEGER,
    "pointage_id" INTEGER,
    "type_pause" "PauseType" NOT NULL,
    "date_debut" TIMESTAMP(3) NOT NULL,
    "date_fin" TIMESTAMP(3),
    "justification" TEXT,
    "fichier_justificatif" VARCHAR(255),
    "duree_minutes" INTEGER,

    CONSTRAINT "pauses_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "qr_codes" (
    "id" SERIAL NOT NULL,
    "nom" VARCHAR(255) NOT NULL,
    "departement" VARCHAR(255) NOT NULL,
    "heure_arrivee" TIMESTAMP(3) NOT NULL,
    "type" VARCHAR(20) NOT NULL,

    CONSTRAINT "qr_codes_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "retards" (
    "id" SERIAL NOT NULL,
    "pointage_id" INTEGER NOT NULL,
    "employe_id" INTEGER NOT NULL,
    "raison" VARCHAR(100) NOT NULL,
    "details" TEXT,
    "fichier_justificatif" VARCHAR(255),
    "statut" "RetardStatut" NOT NULL DEFAULT 'en_attente',
    "date_soumission" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "date_traitement" TIMESTAMP(3),
    "admin_traitant_id" INTEGER,

    CONSTRAINT "retards_pkey" PRIMARY KEY ("id")
);

-- CreateIndex
CREATE UNIQUE INDEX "admins_email_key" ON "admins"("email");

-- CreateIndex
CREATE UNIQUE INDEX "employes_email_key" ON "employes"("email");

-- CreateIndex
CREATE UNIQUE INDEX "employes_badge_id_key" ON "employes"("badge_id");

-- CreateIndex
CREATE UNIQUE INDEX "employes_qr_code_key" ON "employes"("qr_code");

-- CreateIndex
CREATE UNIQUE INDEX "employes_matricule_key" ON "employes"("matricule");

-- CreateIndex
CREATE UNIQUE INDEX "badge_journalier_employe_id_date_validite_key" ON "badge_journalier"("employe_id", "date_validite");

-- CreateIndex
CREATE UNIQUE INDEX "conges_employe_id_annee_key" ON "conges"("employe_id", "annee");

-- CreateIndex
CREATE UNIQUE INDEX "justificatifs_id_pointage_key" ON "justificatifs"("id_pointage");

-- CreateIndex
CREATE UNIQUE INDEX "parametres_utilisateur_user_id_cle_key" ON "parametres_utilisateur"("user_id", "cle");

-- CreateIndex
CREATE UNIQUE INDEX "retards_pointage_id_key" ON "retards"("pointage_id");

-- AddForeignKey
ALTER TABLE "admins" ADD CONSTRAINT "admins_created_by_fkey" FOREIGN KEY ("created_by") REFERENCES "admins"("id") ON DELETE SET NULL ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "employes" ADD CONSTRAINT "employes_created_by_fkey" FOREIGN KEY ("created_by") REFERENCES "admins"("id") ON DELETE SET NULL ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "pointages" ADD CONSTRAINT "pointages_admin_id_fkey" FOREIGN KEY ("admin_id") REFERENCES "admins"("id") ON DELETE SET NULL ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "pointages" ADD CONSTRAINT "pointages_badge_token_id_fkey" FOREIGN KEY ("badge_token_id") REFERENCES "badge_tokens"("id") ON DELETE SET NULL ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "pointages" ADD CONSTRAINT "pointages_employe_id_fkey" FOREIGN KEY ("employe_id") REFERENCES "employes"("id") ON DELETE SET NULL ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "pointages" ADD CONSTRAINT "pointages_qr_code_id_fkey" FOREIGN KEY ("qr_code_id") REFERENCES "qr_codes"("id") ON DELETE SET NULL ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "demandes" ADD CONSTRAINT "demandes_employe_id_fkey" FOREIGN KEY ("employe_id") REFERENCES "employes"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "notifications" ADD CONSTRAINT "notifications_employe_id_fkey" FOREIGN KEY ("employe_id") REFERENCES "employes"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "notifications" ADD CONSTRAINT "notifications_pointage_id_fkey" FOREIGN KEY ("pointage_id") REFERENCES "pointages"("id") ON DELETE SET NULL ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "badge_journalier" ADD CONSTRAINT "badge_journalier_employe_id_fkey" FOREIGN KEY ("employe_id") REFERENCES "employes"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "evenements" ADD CONSTRAINT "evenements_employe_id_fkey" FOREIGN KEY ("employe_id") REFERENCES "employes"("id") ON DELETE SET NULL ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "absences" ADD CONSTRAINT "absences_employe_id_fkey" FOREIGN KEY ("employe_id") REFERENCES "employes"("id") ON DELETE SET NULL ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "admin_logs" ADD CONSTRAINT "admin_logs_admin_id_fkey" FOREIGN KEY ("admin_id") REFERENCES "admins"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "badge_logs" ADD CONSTRAINT "badge_logs_employe_id_fkey" FOREIGN KEY ("employe_id") REFERENCES "employes"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "badge_scans" ADD CONSTRAINT "badge_scans_token_id_fkey" FOREIGN KEY ("token_id") REFERENCES "badge_tokens"("id") ON DELETE SET NULL ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "badge_tokens" ADD CONSTRAINT "badge_tokens_admin_id_fkey" FOREIGN KEY ("admin_id") REFERENCES "admins"("id") ON DELETE SET NULL ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "badge_tokens" ADD CONSTRAINT "badge_tokens_employe_id_fkey" FOREIGN KEY ("employe_id") REFERENCES "employes"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "conges" ADD CONSTRAINT "conges_employe_id_fkey" FOREIGN KEY ("employe_id") REFERENCES "employes"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "demandes_badge" ADD CONSTRAINT "demandes_badge_admin_id_fkey" FOREIGN KEY ("admin_id") REFERENCES "admins"("id") ON DELETE SET NULL ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "demandes_badge" ADD CONSTRAINT "demandes_badge_employe_id_fkey" FOREIGN KEY ("employe_id") REFERENCES "employes"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "justificatifs" ADD CONSTRAINT "justificatifs_employe_id_fkey" FOREIGN KEY ("employe_id") REFERENCES "employes"("id") ON DELETE RESTRICT ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "justificatifs" ADD CONSTRAINT "justificatifs_id_pointage_fkey" FOREIGN KEY ("id_pointage") REFERENCES "pointages"("id") ON DELETE SET NULL ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "messages" ADD CONSTRAINT "messages_expediteur_id_fkey" FOREIGN KEY ("expediteur_id") REFERENCES "admins"("id") ON DELETE RESTRICT ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "message_destinataires" ADD CONSTRAINT "message_destinataires_destinataire_id_fkey" FOREIGN KEY ("destinataire_id") REFERENCES "employes"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "message_destinataires" ADD CONSTRAINT "message_destinataires_message_id_fkey" FOREIGN KEY ("message_id") REFERENCES "messages"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "parametres_utilisateur" ADD CONSTRAINT "parametres_utilisateur_employe_id_fkey" FOREIGN KEY ("employe_id") REFERENCES "employes"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "password_resets" ADD CONSTRAINT "password_resets_employe_id_fkey" FOREIGN KEY ("employe_id") REFERENCES "employes"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "pauses" ADD CONSTRAINT "pauses_admin_id_fkey" FOREIGN KEY ("admin_id") REFERENCES "admins"("id") ON DELETE SET NULL ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "pauses" ADD CONSTRAINT "pauses_employe_id_fkey" FOREIGN KEY ("employe_id") REFERENCES "employes"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "pauses" ADD CONSTRAINT "pauses_pointage_id_fkey" FOREIGN KEY ("pointage_id") REFERENCES "pointages"("id") ON DELETE SET NULL ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "retards" ADD CONSTRAINT "retards_admin_traitant_id_fkey" FOREIGN KEY ("admin_traitant_id") REFERENCES "admins"("id") ON DELETE SET NULL ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "retards" ADD CONSTRAINT "retards_employe_id_fkey" FOREIGN KEY ("employe_id") REFERENCES "employes"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "retards" ADD CONSTRAINT "retards_pointage_id_fkey" FOREIGN KEY ("pointage_id") REFERENCES "pointages"("id") ON DELETE CASCADE ON UPDATE CASCADE;

